
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
  padding: 20px;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
